/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
/* GLOBAL STYLES */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
/*app-root {min-height: 100%;display: block;position: relative;padding-bottom: 56px; }*/
/*footer {position: absolute;bottom: 0;width: 100%;}*/

/*
app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 0;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0;
}
*/
