footer {
  background-color: #f8f9fa;
  color: #333;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

/*app-footer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}*/

footer a:hover {
  color: #0056b3;
}
