@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


.admin-dashboard {
  background-color: #f8f9fa;
  padding: 30px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1400px;
}


.admin-dashboard h1,
.admin-dashboard h2 {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
  z-index: 1;
  list-style: none;
  font-size: 16px;
  color: #333;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #222327;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #007bff;
  background-color: #e9ecef;
}


table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #e9ecef;
}

td {
  padding: 8px 10px;
}


table img {
  width: 50px;
  height: auto;
  object-fit: scale-down;
  border-radius: 5px;
}


button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color:  #0056b3;
  transform: scale(1.05);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


input[type=text],
input[type=password],
input[type=email],
input[type=number],
select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus {
  border-color:  #0056b3;
  box-shadow: 0 0 5px rgba(4, 104, 170, 0.5);
}

input[type=checkbox] {
  margin: 8px 10px;
  transform: translateY(2px);
  cursor: pointer;
}


.small-button-panel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
