<div class="main-view">
  <article>
    <h1>Witaj na głównej stronie</h1>
    <img src="https://localhost:7200//uploads/PFL.png" alt="logo">
    <p>Nasza Firma AGD to lider w branży artykułów gospodarstwa domowego, oferujący szeroką gamę innowacyjnych i niezawodnych produktów, które ułatwiają codzienne życie. Specjalizujemy się w nowoczesnych rozwiązaniach, które łączą funkcjonalność z estetyką, dostarczając klientom urządzenia najwyższej jakości
      , od lodówek i pralek po drobny sprzęt kuchenny, jak ekspresy do kawy czy blendery.</p>
    <p> Naszym priorytetem jest zadowolenie klientów, dlatego wszystkie nasze produkty są zaprojektowane z myślą o oszczędności energii, intuicyjnej obsłudze i długowieczności. Z dumą wspieramy ekologiczne inicjatywy, oferując energooszczędne rozwiązania, które nie tylko dbają o komfort użytkowania, ale także o środowisko.</p>
    <p>Dzięki wieloletniemu doświadczeniu i zaangażowaniu w ciągły rozwój technologiczny, nasza firma AGD cieszy się zaufaniem tysięcy klientów, zarówno indywidualnych, jak i biznesowych. Oferujemy kompleksowe wsparcie posprzedażowe, zapewniając serwis i doradztwo techniczne, by każdy zakup był początkiem długiej i bezproblemowej współpracy.</p>
    <p>Zapraszamy do zapoznania się z naszą ofertą, gdzie innowacyjność spotyka się z tradycją solidności i niezawodności!</p>
  </article>
</div>
