.category-managment-panel {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}



app-category-list {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e9ecef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.category-managment-panel table {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f3f6;
  margin: 0;
  padding: 0;
  color: #333;
}
